@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Square+Peg&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.formTitleLink3 {
  border-radius: 25px;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: white;
  opacity: 0.8;
  margin-left: 35%;
  margin-top: 16%;
  display: inline-block;
  padding-bottom: 0%;
  width: 30%;
  text-align: center;
  height: 375px;
  position:absolute;
  
  

}

.formTitleLink4 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: teal;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: white;
  border-color: red;
  border-bottom: 1px solid red;
  border: thin;
  border: 6px;
  padding: 8px 13px;
  display: inline-block;
  margin: 0 50px;
  padding-bottom: 1px;
}

.formTitleLink5 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: white;
  border-color: red;
  border-bottom: 1px solid red;
  border: thin;
  border: 6px;
  padding: 8px 13px;
  display: inline-block;
  margin: 0 50px;
  padding-bottom: 1px;
}

#nav-bar {
  width: 100%;
  display:flex;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: center;
  height: 3em;
}

ul {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.user-span {
  padding-left: 20%;
}

h3.logo-header {
  font-family: 'Square Peg', cursive;
  font-size: xx-large;
  /* margin-left: 1%; */

}

#background-video {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;

}


.navigation-container {
  padding-bottom: 0%;
  

}

#brand-logo-login {

  font-family: 'Square Peg', cursive;
  font-size: 40px;

}


.about-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 850;
  width: 100%;
  height: 100vh;
}

#about-video {
  width: 100%;
  height: 100%;
  opacity: .96;
  position: absolute;
  z-index: -2;
  top: 0;
  object-fit: cover;
}

.about-text{
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.mission-div {
 
  height: 30px;
  text-align: center;
  margin-left: 25%; 
  margin-right: 25%;
  position: absolute;
  /* width: 50%; */
  font-size: 16px;
  line-height: 35px;
  font-weight: 850;
  padding-bottom: 20%;
  padding-top: 10%
}

.logo{
  padding-left: 5px;
  
}

#ss-logos{
margin-left: 25px;
}

a.nav-link{
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: smaller;

}